$color-background: #f4f4f4;
$color-primary: #fff;
$color-secondary: #ddd;
$color-gray: #666;
$color-lime: #50c878;
$color-darkgreen: #384f1e;
$color-green: #606c38;
$color-black: #000;
$color-white: #fff;
$transition-primary: 0.25s ease;
$border-radius-small: 5px;
$border-radius-regular: 10px;

.hidden{
  display: none !important;
}

.stop-scrolling{
	height: 100%;
	overflow: hidden;
}

body{
  background-color: $color-background;
  min-height: calc(100svh);
  width: 95%;
  margin: 0 auto;
  font-family:"Montserrat", sans-serif;
  display: flex;
	flex-direction: column;
}

header{
  width: 100%;
  background-color: $color-primary;
  border: 0.0625rem solid $color-secondary;
  border-radius: $border-radius-regular;
  margin: 0 auto;
}

nav{
  padding: 0 20px;
  ul{
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  li{
    filter: grayscale(100%);
    transition: all $transition-primary;
  }
  li:hover{
    filter: grayscale(0%);
	  transform: scale(1.025);	
  }
  li:nth-last-child(2){
    margin-left: auto;
  }

  a{
    position: relative;
    text-decoration: none;
    color: $color-black;
    height: 8rem;
    display: flex;
    align-items: center;
  }
  img{
    height: 8rem;
    margin-right: 1rem;
  }
  .cart-count{
    position: absolute;
    left: 60%;
    top: 1rem;
    font-size: 1.5rem;
    margin: auto;
    width: 3.0625rem;
    height: 3.0625rem;
    background-color: $color-lime;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cart-total{
    position: absolute;
    background-color: rgb(255, 255, 255, 0.9);
    border-radius: $border-radius-regular;
    font-size: 1.5rem;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
}

.product-list{
  width: 90%;
  margin: 0 auto 2rem auto;
  &__contents{
    border: 0.125rem dashed $color-secondary;
  }
  h2{
    font-size: 1.5rem;
    background-color: $color-primary;
	  border: 0.0625rem solid $color-secondary;
	  border-radius: $border-radius-small;
    margin: 1.5rem 0;
    padding: 1rem;
  }
  ul{
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.product-list__item{
  background-color: $color-secondary;
  border-radius: $border-radius-small;
  margin: 1rem;
  clip-path: circle(100% at 50% 20%);
  transition: $transition-primary;
  &:hover{
    transform: scale(1.05);
  }
  .item__contents{
    background-color: $color-primary;
    border-radius: $border-radius-small;
    width: 12rem;
    height: 26rem;
    padding: 1.25rem;
    margin: 0.125rem;
    clip-path: circle(100% at 50% 20%);
    transition: $transition-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img{
    flex-basis: 42%;
    border-radius: $border-radius-small;
    max-height: 10rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .item__text{
    position: relative;
    padding-top: 0.5rem;
    flex-basis: 40%;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
    font-size: 1.5rem;
    &__name{
      width: inherit;
    }
    &__weight{
      font-size: 1.25rem;
      color: $color-gray;
    }
    &__price{
      margin-top: auto;
      margin-bottom: 1rem;
    }
  }
  .item__input-panel{
    flex-basis: 8%;
    margin-top: auto;
    margin-bottom: 1rem;
  }
  .item__add-btn{
    padding: 0.75rem calc(((0.75rem*2 + 1.25rem)*2 + 3rem - 1.25rem)/2);
  }
}

.cart-page{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.cart-contents{
  display: flex;
  flex-basis: 60%;
  margin: 0 1rem;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
  ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  h2{
    font-size: 1.5rem;
    background-color: $color-primary;
	  border: 0.0625rem solid $color-secondary;
	  border-radius: $border-radius-small;
    margin: 1.5rem 0 0.5rem 0;
    padding: 1rem;
  }
}
.cart-contents__item{
  background-color: $color-primary;
  border: 0.0625rem solid $color-secondary;
  border-radius: $border-radius-small;
  padding: 1rem;
  width: 100%;
  height: 8rem;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  .item__total{
    margin-left: auto;
    margin-right: 2rem;
    text-align: center;
    width: 10rem;
    font-size: 1.5rem;
  }
  .item__text{
    margin-left: 1rem;
    margin-right: 1rem;
    width: 50%;
  }
  img{
    border: 0.0625rem solid $color-secondary;
    border-radius: $border-radius-small;
    width: 12rem;
  }
  .item__remove-btn{
    margin-right: 1rem;
  }
}

.empty-cart-btn{
  position: relative;
  margin-top: 0.75rem;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  margin-left: auto;
}

.cart-summary{
  display: flex;
  flex-basis: 30%;
  flex-grow: 0.3;
  margin: 0 1rem;
  flex-direction: column;
  width: 50%;
  h2{
    font-size: 1.5rem;
    background-color: $color-primary;
	  border: 0.0625rem solid $color-secondary;
	  border-radius: $border-radius-small;
    margin: 1.5rem 0 0.5rem 0;
    padding: 1rem;
  }
  &__contents{
    background-color: $color-primary;
    border: 0.0625rem solid $color-secondary;
    height: 15rem;
    border-radius: 5px 50px;
    display: flex;
    font-size: 1.25rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .open-order-form-btn{
    padding: 0.75rem 4rem;
  }
}

.item__button{
  padding: 0.75rem;
  &::before{
    display: inline-block;
  }
}

.item__menu{
  display: flex;
  align-items: center;
  font-weight: 600;
  span{
    width: 3rem;
    text-align: center;
  }
}

input[type='submit'], button{
  cursor: pointer;
  color: $color-white;
  border-radius: $border-radius-small;
  font-weight: 600;
  background-color: $color-green;
  border: none;
  background: linear-gradient(270deg, $color-darkgreen 15%, $color-green 100%);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  transition: all $transition-primary;

  &:hover{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
	  filter: brightness(75%);
  }

  &:disabled{
    cursor: not-allowed;
    filter: grayscale(50%) brightness(175%);
  }
}

.item__remove-btn::before{
  content: "\274C";
  filter: brightness(0) invert(1);
}

.item__add-btn::before, .increment-btn::before{
  content: "\2795";
  filter: brightness(0) invert(1);
}

.decrement-btn::before{
  content: "\2796";
  filter: brightness(0) invert(1);
}

footer{
  width: 100%;
	background-color: $color-primary;
  border: 0.0625rem solid $color-secondary;
  border-radius: $border-radius-regular;
  padding: 1rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
  margin: auto auto 0 auto;
}

.store-name-small{
  display: none;
  }
.store-name-middle{
  display: none;
}

@media only screen and (max-width: 1080px){
  .store-name-long{
    display: none;
  }
  .store-name-middle{
    display: block;
  }
  .store-name-small{
    display: none;
  }
}
@media only screen and (max-width: 960px) {
  .cart-contents__item{
    img{
      width: 8rem;
      height: 100%;
      object-fit: cover;
    }
  }
  .cart-summary{
    margin: 0;
  }
  .cart-contents{
    margin: 0;
  }
}
@media only screen and (max-width: 720px) {
	html{
    font-size: 0.85rem;
  }
  .cart-contents__item{
    img{
      width: 4rem;
      height: 100%;
      object-fit: cover;
    }
  }
  .product-list{
    width: 100%;
    margin: 0 auto;
  }
  .product-list__item{
    margin: 1%;
  }
  .product-list__item:hover{
    transform: none;
  }
}

@media only screen and (max-width: 600px) {
	html{
    font-size: 0.75rem;
  }
  nav a, nav img{
    height: 4rem;
  }
  nav .cart-total{
    display: none;
  }
  .store-name-long{
    display: none;
  }
  .store-name-middle{
    display: none;
  }
  .store-name-small{
    display: block;
  }
}

@media only screen and (max-width: 500px) {
	html{
    font-size: 0.65rem;
  }
  .cart-page{
    flex-direction: column-reverse;
    align-items: center;
  }
  .cart-summary{
    width: 50%;
    min-width: 240px;
  }
  .item__total{
    display: none;
  }
  .item__input-panel{
    margin-left: auto;
  }
  .cart-contents__item{
    .item__button{
      padding: 0.5rem;
    }
    img{
      width: 8rem;
      height: 100%;
      object-fit: cover;
    }
    .item__text{
      font-size: 1rem;
      width: 30%;
      margin-left: 0.5rem;
    }
    .item__total{
      margin-right: 0;
    }
    .item__remove-btn{
      margin-right: 0.5rem;
    }
  }
}