.orderForm{
	position: fixed;
	visibility: hidden;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
}

.orderFormContents{
	display: flex;
	flex-direction: column;
	width: 25%;
	min-width: 250px;
	background-color: rgba(200, 200, 200);
	padding: 0 10px 20px 10px;
}

.orderFormContents form{
	display: flex;
	flex-direction: column;
}

body{
	padding-top: 8em;
	font-family:"Arial";
}

.show{
        visibility: visible;
}

.header{
	display: flex;
	position: fixed;
	height: 8em;
	top: 0;
	left: 0;
	width: 100%;
}

.header-logo{
	display: flex;
	margin: 15px;
	line-height: 10px;
	align-self: start;
}

.header-buttons{
	display: flex;
	align-self: end;
}

.footer{
	display: flex;
	justify-content: center;
	align-items: center;
	position:fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

h1{
	font-size: 36px;
}

h2{
	font-size: 24px;
}

button{
	cursor:pointer;
}
button:disabled{
	cursor: not-allowed;
}

hr {
  margin-left: 0;
  margin-right: 0;
  width:100%;
}
