@charset "UTF-8";
.hidden {
  display: none !important;
}

.stop-scrolling {
  overflow: hidden;
  height: 100%;
}

html {
  scrollbar-gutter: stable;
}

body {
  background-color: #f4f4f4;
  min-height: 100svh;
  width: 95%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  background-color: #fff;
  border: 0.0625rem solid #ddd;
  border-radius: 10px;
  margin: 0 auto;
}

nav {
  padding: 0 20px;
}
nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav li {
  filter: grayscale(100%);
  transition: all 0.25s ease;
}
nav li:hover {
  filter: grayscale(0%);
  transform: scale(1.025);
}
nav li:nth-last-child(2) {
  margin-left: auto;
}
nav a {
  position: relative;
  text-decoration: none;
  color: #000;
  height: 8rem;
  display: flex;
  align-items: center;
}
nav img {
  height: 8rem;
  margin-right: 1rem;
}
nav .cart-count {
  position: absolute;
  left: 60%;
  top: 1rem;
  font-size: 1.5rem;
  margin: auto;
  width: 3.0625rem;
  height: 3.0625rem;
  background-color: #50c878;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .cart-total {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  font-size: 1.5rem;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.product-list {
  width: 90%;
  margin: 0 auto 2rem auto;
}
.product-list__contents {
  border: 0.1875rem dashed #ddd;
}
.product-list h2 {
  font-size: 1.5rem;
  background-color: #fff;
  border: 0.0625rem solid #ddd;
  border-radius: 5px;
  margin: 1.5rem 0;
  padding: 1rem;
}
.product-list ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-list__item {
  background-color: #ddd;
  border-radius: 5px;
  margin: 1rem;
  clip-path: circle(100% at 50% 20%);
  transition: 0.25s ease;
}
.product-list__item:hover {
  transform: scale(1.05);
}
.product-list__item .item__contents {
  background-color: #fff;
  border-radius: 5px;
  width: 12rem;
  height: 26rem;
  padding: 1.25rem;
  margin: 0.125rem;
  clip-path: circle(100% at 50% 20%);
  transition: 0.25s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-list__item img {
  flex-basis: 42%;
  border-radius: 5px;
  max-height: 10rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-list__item .item__text {
  position: relative;
  padding-top: 0.5rem;
  flex-basis: 40%;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  word-wrap: break-word;
  font-size: 1.5rem;
}
.product-list__item .item__text__name {
  width: inherit;
}
.product-list__item .item__text__weight {
  font-size: 1.25rem;
  color: #666;
}
.product-list__item .item__text__price {
  margin-top: auto;
  margin-bottom: 1rem;
}
.product-list__item .item__input-panel {
  flex-basis: 8%;
  margin-top: auto;
  margin-bottom: 1rem;
}
.product-list__item .item__add-btn {
  padding: 0.75rem 3.625rem;
}

.cart-page {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.cart-contents {
  display: flex;
  flex-basis: 60%;
  margin: 0 1rem;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
}
.cart-contents ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cart-contents h2 {
  font-size: 1.5rem;
  background-color: #fff;
  border: 0.0625rem solid #ddd;
  border-radius: 5px;
  margin: 1.5rem 0 0.5rem 0;
  padding: 1rem;
}

.cart-contents__item {
  background-color: #fff;
  border: 0.0625rem solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  width: 100%;
  height: 8rem;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}
.cart-contents__item .item__total {
  margin-left: auto;
  margin-right: 2rem;
  text-align: center;
  width: 10rem;
  font-size: 1.5rem;
}
.cart-contents__item .item__text {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 50%;
}
.cart-contents__item img {
  border: 0.0625rem solid #ddd;
  border-radius: 5px;
  width: 12rem;
}
.cart-contents__item .item__remove-btn {
  margin-right: 1rem;
}

.empty-cart-btn {
  position: relative;
  margin-top: 0.75rem;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  margin-left: auto;
}

.cart-summary {
  display: flex;
  flex-basis: 30%;
  flex-grow: 0.3;
  margin: 0 1rem;
  flex-direction: column;
  width: 50%;
}
.cart-summary h2 {
  font-size: 1.5rem;
  background-color: #fff;
  border: 0.0625rem solid #ddd;
  border-radius: 5px;
  margin: 1.5rem 0 0.5rem 0;
  padding: 1rem;
}
.cart-summary__contents {
  background-color: #fff;
  border: 0.0625rem solid #ddd;
  height: 15rem;
  border-radius: 5px 50px;
  display: flex;
  font-size: 1.25rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.cart-summary .open-order-form-btn {
  padding: 0.75rem 4rem;
  font-size: 1.5rem;
}

.item__button {
  padding: 0.75rem;
}
.item__button::before {
  display: inline-block;
}

.item__menu {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.item__menu span {
  width: 3rem;
  text-align: center;
}

.order-form {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-form__contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.125rem solid #ddd;
  border-radius: 10px;
  padding: 0.75rem 2rem;
}
.order-form .order-form__heading {
  width: 100%;
  margin-bottom: 1rem;
  background-color: #ddd;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-form .order-form__heading h2 {
  margin: 0;
  flex-basis: 60%;
}
.order-form .order-form__heading button {
  flex-basis: 40%;
  padding: 0.75rem 2rem;
}
.order-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ddd;
  padding: 1rem;
  border-radius: 5px;
}
.order-form form div {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.order-form form label {
  display: inline-block;
  flex-basis: 50%;
}
.order-form form input[type=tel], .order-form form input[type=text] {
  width: 100%;
  flex-basis: 50%;
  padding: 0.5rem;
}
.order-form form input[type=submit] {
  width: 50%;
  padding: 1rem 2rem;
  margin: 10px auto 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

input[type=submit], button {
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
  background-color: #606c38;
  border: none;
  background: linear-gradient(270deg, #384f1e 15%, #606c38 100%);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease;
}
input[type=submit]:hover, button:hover {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
  filter: brightness(75%);
}
input[type=submit]:disabled, button:disabled {
  cursor: not-allowed;
  filter: grayscale(50%) brightness(175%);
}

.item__remove-btn::before {
  content: "❌";
  filter: brightness(0) invert(1);
}

.item__add-btn::before, .increment-btn::before {
  content: "➕";
  filter: brightness(0) invert(1);
}

.decrement-btn::before {
  content: "➖";
  filter: brightness(0) invert(1);
}

footer {
  width: 100%;
  background-color: #fff;
  border: 0.0625rem solid #ddd;
  border-radius: 10px;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto auto 0 auto;
}

.store-name-middle {
  display: none;
}

@media only screen and (max-width: 1080px) {
  .store-name-long {
    display: none;
  }
  .store-name-middle {
    display: block;
  }
}
@media only screen and (max-width: 960px) {
  .cart-contents__item img {
    width: 8rem;
    height: 100%;
    object-fit: cover;
  }
  .cart-summary {
    margin: 0;
  }
  .cart-summary .open-order-form-btn {
    font-size: 1rem;
  }
  .empty-cart-btn {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 760px) {
  html {
    font-size: 0.85rem;
  }
  .cart-contents__item img {
    width: 4rem;
    height: 100%;
    object-fit: cover;
  }
  .product-list {
    width: 100%;
  }
  .product-list__item {
    margin: 1%;
  }
  .product-list__item:hover {
    transform: none;
  }
}
@media only screen and (max-width: 640px) {
  html {
    font-size: 0.75rem;
  }
  .cart-page {
    flex-direction: column-reverse;
    align-items: center;
  }
  .cart-summary {
    width: 50%;
    min-width: 240px;
  }
  nav {
    padding: 0 10px;
  }
  nav a, nav img {
    height: 4rem;
  }
  nav .cart-count {
    top: -5px;
    left: 50%;
  }
  nav .cart-total {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  html {
    font-size: 0.75rem;
  }
  .item__total {
    display: none;
  }
  .cart-contents .item__input-panel {
    margin-left: auto;
  }
  .cart-contents__item .item__button {
    padding: 0.5rem;
  }
  .cart-contents__item img {
    width: 8rem;
    height: 100%;
    object-fit: cover;
  }
  .cart-contents__item .item__text {
    width: 30%;
    margin-left: 0.5rem;
  }
  .cart-contents__item .item__total {
    margin-right: 0;
  }
  .cart-contents__item .item__remove-btn {
    margin-right: 0.5rem;
  }
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 0.6rem;
  }
}
@media only screen and (max-width: 340px) {
  .item__text {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
