$color-background: #b18782;
$color-primary: #f0d2d2;
$color-secondary: #f18e8e;
$transition-primary: 0.25s ease;
$border-radius-small: 0.3125rem;
$border-radius-regular: 0.625rem;
$border-size-regular: 0.125rem;
$arrow-size: 2rem;
$color-black: #000;
$color-white: #fff;
$color-active: #efa6a6;
$color-active-inv: #f18e8e;
$settings-basis: 49%;
$task_min-width: 12.5rem;
$task_scale: 1;

body{
  background-color: $color-background;
  min-height: 100svh;
  width: 95%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  button, input{
    font-family:"Montserrat", sans-serif;
  }
  display: flex;
	flex-direction: column;
  justify-content: space-between;
}

button, input[type='radio'], input[type='submit']{
  cursor: pointer;
  background-color: $color-secondary;
}

input[type='date']{
  cursor: pointer;
}

input{
  border: $border-size-regular solid $color-background;
  transition: all $transition-primary;
  &:hover{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
    filter: brightness(85%);
  }
  &:active, &:focus{
    box-shadow: none;
    filter: brightness(100%);
  }
}
button{
  border: 0 solid $color-background;
  transition: all $transition-primary;
  &:hover{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
    filter: brightness(85%);
  }
  &:active{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
    filter: brightness(65%);
  }
}

.main-container{
  display: flex;
  width: 85%;
  justify-content: space-around;
  margin: 1.5rem auto 0.5rem auto; 
}

header{
  width: 100%;
  background-color: $color-primary;
  border: 0.0625rem solid $color-primary;
  border-radius: $border-radius-regular;
  margin: 0 auto;
}

.task-window{
  flex-basis: 66%;
}
.add-task-window{
  flex-basis: 33%;
  display: flex;
  justify-content: center;
  max-height: 15rem;
}

li[draggable='true']{
  cursor: grab;
}

nav{
  padding: 0 20px;
  ul{
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  li:nth-last-child(1){
    margin-left: auto;
  }
  a{
    transition: all $transition-primary;
    position: relative;
    text-decoration: none;
    color: $color-black;
    height: 8rem;
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  a.disabled {
    pointer-events: none;
    cursor: default;
  }
  a:hover{
    transform: scale(1.025);	
  }
  img{
    height: 8rem;
    margin-right: 1rem;
  }
  h1 {
    white-space: pre;
  }
}

.task-filter_{
  &_new{
    border-color: rgb(191, 28, 10);
    border-radius: $border-radius-regular;
    color: rgb(191, 28, 10);
    input{
      accent-color: rgb(191, 28, 10);
    }
  }
  &_inprogress{
    border-color: rgb(195, 147, 12);
    border-radius: $border-radius-regular;
    color: rgb(144, 58, 8);
    input{
      accent-color: rgb(195, 147, 12);
    }
  }
  &_done{
    border-color: rgb(10, 191, 10);
    border-radius: $border-radius-regular;
    color: rgb(6, 114, 6);
    input{
      accent-color: rgb(10, 191, 10);
    }
  }
}

.site-name-long{
  display: block;
}
.site-name-middle{
  display: none;
}
.site-name-short{
  display: none;
}

.task-settings{
  height: 6rem;
  display: flex;
  justify-content: space-between;
  &__search, fieldset{
    padding: 0;
    border: none;
    border-radius: 0.25rem;
  }
  button{
    background-color: $color-primary;
  }
  &__left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: $settings-basis;
    min-width: 0;
  }
  &__search{
    flex-basis: $settings-basis;
    background-color: $color-primary;
    display: flex;
    align-items: center;
    &-search{
      flex-basis: 20%;
    }
    img{
      height: 1.25rem;
      width: auto;
      margin: 0 0.5rem;
    }
    input{
      background-color: $color-secondary;
      border-radius: $border-radius-small;
      line-height: 2rem;
      flex-basis: 90%;
      margin: 0.5rem;
      min-width: 0;
    }
    &-icon{
      display: flex;
      justify-content: center;
      flex-basis: 5%;
    }
  }
  &__sort{
    display: flex;
    justify-content: space-between;
    flex-basis: 40%;

    min-width: 0;
    overflow: hidden;

    button{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: calc($settings-basis + (50% - $settings-basis) / 3 * 2 - 0.5%);
      cursor: pointer;
      min-width: 0;
      overflow: hidden;
    }

    span{
      position: relative;
      z-index: 2;
    }

    .sort_active:after, .sort_active-inv:after{
      content: "";
      width: 0; 
      height: 0; 
      position: absolute;
      border-left: $arrow-size solid transparent;
      border-right: $arrow-size solid transparent;
    }
    
    .sort_active{
      background-color: $color-active !important;
      &:after{
        border-bottom: $arrow-size solid rgba(255, 0, 0, 0.25);
      }
    }

    .sort_active-inv{
      background-color: $color-active-inv !important;
      &:after{
        border-top: $arrow-size solid rgba(0, 0, 255, 0.25);
      }
    }



  }
  &__filter{
    flex-basis: 49%;
    background-color: $color-secondary;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h2{
      margin: 0 0 0 2rem;
    }
    &-legend{
      display: flex;
      align-items: center;
      flex-basis: $settings-basis;
      border-radius: 0.25rem;
      background-color: $color-primary;
      width: 100%;
      span{
        padding: 0.25rem;
        margin-left: 1rem;
      }
    }
    &-buttons{
      display: flex;
      align-items: center;
      flex-shrink: 1;
      flex-basis: $settings-basis;
      justify-content: space-evenly;
      border-radius: 0.25rem;
      background-color: $color-primary;
      width: 100%;
      div{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: flex;
        align-items: center;
        margin: 0 0.25rem;
      }
      label{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        min-width: 0;
      }
      input{
        height: 2rem;
        width: 2rem;
        margin: 0 0.5rem;
        cursor: pointer;
      }
    }
  }
}

.task-window{
  ul{
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, minmax(10rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(10rem, 1fr));
    align-items: end;
    column-gap: 1rem;
  }
  li{
    transition: 0.15s ease;
  }
  li:hover{
    transform: scale(1.05);
  }
  .task-container_{
    &new form{
      border-color: rgb(191, 28, 10);
      input{
        accent-color: rgb(191, 28, 10);
      }
    }
    &inprogress form{
      border-color: rgb(195, 147, 12);
      input{
        accent-color: rgb(195, 147, 12);
      }
    }
    &done form{
      border-color: rgb(10, 191, 10);
      input{
        accent-color: rgb(10, 191, 10);
      }
    }
  }
  
  .task-status{
    &_new{
      border-color: rgb(191, 28, 10);
      border-radius: $border-radius-regular;
    }
    &_inprogress{
      border-color: rgb(195, 147, 12);
      border-radius: $border-radius-regular;
    }
    &_done{
      border-color: rgb(10, 191, 10);
      border-radius: $border-radius-regular;
    }
  }
  .task__card{
    border-style: inset;
    border-width: 0.5rem;
    background-color: $color-primary;
    padding: 1rem 1rem 0.25rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .task__info{
      width: 95%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      span{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: 500;
      }
    }
  }
  .task__bottom{
    display: flex;
    width: 100%;
    margin: 0.5rem 0;
    align-items: center;
    justify-content: space-between;
    button{
      margin: 0;
    }
    span{
      margin-right: 0.25rem;
      flex-basis: 49%;
    }
    .task__buttons{
      display: flex;
      flex-basis: 49%;
      justify-content: flex-end;
      button{
        margin-left: 0.5rem;
      }
    }
  }
  .task-status__form{
    position: relative;
    border: 0.5rem solid;
    background-color: $color-primary;
    z-index: 10;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
    top: -1rem;
    border-radius: 5rem;
    fieldset{
      border: none;
      display: flex;
      padding: 0.5rem 0;
      margin: 0;
      div{
        display: flex;
        align-items: center;
        input{
          margin: 0 0.25rem;
        }
      }
    }
  }
  button{
    border-radius: $border-radius-small;
  }
}

.task__remove-btn{
  background-color: red;
  display: flex;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}

.task__remove-btn::before{
  content: "\274C";
  display: flex;
  align-items: center;
  filter: brightness(0) invert(1);
}

.task__edit-btn{
  background-color: rgb(106, 85, 47);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  img{
    width: 1.25rem;
    height: 1.25rem;
    filter: brightness(0) invert(1);
  }
}

html{
  scrollbar-gutter: stable;
}

.stop-scrolling{
	overflow: hidden;
  height: 100%;
}

.edit-form-container{
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  form{
    background-color: $color-primary;
    border-radius: $border-radius-regular;
    border: $border-size-regular solid $color-background;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 10rem;
    justify-content: space-evenly;
    button, input{
      border-radius: $border-radius-small;
      line-height: 1.5rem;
    }
    button{
      width: 40%;
      border: $border-size-regular solid $color-background;
    }
  }
}

.task-form{
  background-color: $color-primary;
  border-radius: $border-radius-regular;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 15rem;
  min-width: 12.5rem;
  height: 12.5rem;
  margin: 0 1rem;
  input{
    border-radius: $border-radius-small;
    line-height: 2rem;
  }
  h2{
      margin: 0;
    }
  div{
    display: flex;
    flex-direction: column;
  }
  label{
    width: 5rem;
    display: inline-block;
  }
  input[type='submit']{
    margin-top: 1rem;
  }
}

footer{
  width: 100%;
	background-color: $color-primary;
  border: 0.0625rem solid $color-primary;
  border-radius: $border-radius-regular;
  padding: 1rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
  margin: auto auto 0 auto;
}

@media only screen and (max-width: 1080px){
  .task-form{
    margin: 0 0 0 1rem;
  }
  .main-container{
    width: 90%;
  }
}

@media only screen and (max-width: 1080px){
  .task-settings__filter-legend{
    display: none;
  }
  .task-settings__filter-buttons{
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 100%;
    input{
      height: 1rem;
      width: 1rem;
    }
  }
  body{
    width: 95%;
  }
  $border-radius-regular: 0.2rem;
  .task-settings{
    flex-basis: 100%;
    margin: auto;
  }
  .task-window{
    ul{
      grid-template-columns: repeat(2, minmax(9rem, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(9rem, 1fr));
      li{
        border-width: 0.5rem;
      }
    }
    .task__card{
      border-width: 0.5rem;
      padding: 0.5rem;
    }
    .task-status__form{
      border-width: 0.45rem;
    }
  }
  
  nav h1{
    white-space: normal;
  }
}

@media only screen and (max-width: 720px){
  .add-task-window{
    transform: scale(1);
    width: 100%;
    margin: 0 auto 1rem auto;
  }
  .task-form{
    margin: 0 0;
    width: 100%;
    height: auto;
  }
  .task-window{
    ul{
      grid-template-columns: repeat(2, minmax(8rem, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(8rem, 1fr));
      li{
        border-width: 0.3125rem;
      }
    }
    .task__card{
      border-width: 0.3rem;
      padding: 1rem;
    }
    .task-status__form{
      border-width: 0.25rem;
    }
  }
  .task-settings__filter{
    flex-basis: 39%;
  }
  .task-settings__left{
    flex-basis: 57%;
  }
  .main-container{
    flex-direction: column-reverse;
  }
  header{
    height: 5rem;
  }
  nav{
    display: flex;
    justify-content: space-between;
    height: inherit;
    a{
      margin: 0;
      height: inherit;
    }
    ul{
      height: inherit;
      margin: auto;
      width: 85%;
    }
    img{
      margin: 0;
      height: 5rem;
      width: auto;
    }
  }
  body{
    font-size: 0.75rem !important;
  }
  .task__remove-btn{
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem 0.125rem 0 0.125rem;
  }

  .task__edit-btn{
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.125rem;
    img{
      width: 0.75rem;
      height: 0.75rem;
    }
  }
}

@media only screen and (max-width: 1080px){
  .site-name-long{
    display: none;
  }
  .site-name-middle{
    display: block;
  }
  .site-name-short{
    display: none;
  }
}

@media only screen and (max-width: 512px){
  .site-name-long{
    display: none;
  }
  .site-name-middle{
    display: none;
  }
  .site-name-short{
    display: block;
  }
}