$color-background: #f4f4f4;
$color-primary: #fff;
$color-secondary: #ddd;
$transition-primary: 0.25s ease;
$border-radius-small: 5px;
$border-radius-regular: 10px;
$color-black: #000;
$color-white: #fff;

body {
  background-color: grey;
  min-height: 100svh;
  font-family:"Montserrat", sans-serif;
}

nav{
  padding: 0 20px;
  ul{
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  li:nth-last-child(1){
    margin-left: auto;
  }
  a{
    transition: all $transition-primary;
    position: relative;
    text-decoration: none;
    color: $color-black;
    height: 8rem;
    display: flex;
    align-items: center;
  }
  a.disabled {
    pointer-events: none;
    cursor: default;
  }
  a:hover{
    transform: scale(1.025);	
  }
  img{
    height: 8rem;
    margin-right: 1rem;
  }
  h1 {
    white-space: pre;
  }
}

footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto auto 0 auto;
}

.task-list{
  width: 30rem;
  ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  li{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
}

input[type='submit'], button{
  cursor: pointer;
  color: $color-white;
  border-radius: $border-radius-small;
  font-weight: 600;
  border: none;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  transition: all $transition-primary;

  &:hover{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
	  filter: brightness(75%);
  }

  &:disabled{
    cursor: not-allowed;
    filter: grayscale(50%) brightness(175%);
  }
}

.task__remove-btn{
  background-color: red;
  display: flex;
  justify-content: center;
  padding: 0.75rem;
  margin: 0.125rem;
}

.task__edit-btn{
  background-color: rgb(219, 219, 122);
  display: flex;
  justify-content: center;
  padding: 0.75rem;
  margin: 0.125rem;
}

.task__remove-btn::before{
  content: "\274C";
  filter: brightness(0) invert(1);
}

.task__edit-btn::before{
  content: "*";
  filter: brightness(0) invert(1);
}

.site-name-middle{
  display: none;
}

@media only screen and (max-width: 1080px){
  .site-name-long{
    display: none;
  }
  .site-name-middle{
    display: block;
  }
}