$color-background: #f8f7f3;
$color-primary: #F5E9DA;
$color-secondary: #F5D389;
$transition-primary: 0.25s ease;
$border-radius-small: 0.3125rem;
$border-radius-regular: 0.625rem;
$border-size-regular: 0.125rem;
$arrow-size: 2rem;
$color-black: #000;
$color-white: #fff;
$color-active: #a6c6ef;
$color-active-inv: #89b3ea;
$settings-basis: 49%;
$task_min-width: 12.5rem;
$task_scale: 1;
$tile-size: 6rem;

body{
  background-color: $color-background;
  min-height: 100svh;
  width: 95%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  button, input{
    font-family:"Montserrat", sans-serif;
  }
  display: flex;
	flex-direction: column;
  justify-content: space-between;
}

button, input[type='radio'], input[type='submit']{
  cursor: pointer;
  background-color: $color-secondary;
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 85%;
  margin: 1.5rem auto; 
}

header{
  width: 100%;
  background-color: $color-primary;
  border: 0.0625rem solid $color-primary;
  border-radius: $border-radius-regular;
  margin: 0 auto;
}

.task-window{
  flex-basis: 66%;
}
.add-task-window{
  flex-basis: 33%;
  display: flex;
  justify-content: center;
  max-height: 15rem;
}

li[draggable='true']{
  cursor: grab;
}

nav{
  padding: 0 20px;
  ul{
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  li:nth-last-child(1){
    margin-left: auto;
  }
  a{
    transition: all $transition-primary;
    position: relative;
    text-decoration: none;
    color: $color-black;
    height: 8rem;
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  a.disabled {
    pointer-events: none;
    cursor: default;
  }
  a:hover{
    transform: scale(1.025);	
  }
  img{
    height: 8rem;
    margin-right: 1rem;
  }
  h1 {
    white-space: pre;
  }
}

.site-name-long{
  display: block;
}
.site-name-middle{
  display: none;
}
.site-name-short{
  display: none;
}

html{
  scrollbar-gutter: stable;
}

.stop-scrolling{
	overflow: hidden;
  height: 100%;
}

footer{
  width: 100%;
	background-color: $color-primary;
  border: 0.0625rem solid $color-primary;
  border-radius: $border-radius-regular;
  padding: 1rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
  margin: auto auto 0 auto;
}

.gameboard{
  background-color: $color-background;

  padding: 0.125rem;
  border-radius: 0.5rem;

  display: grid;
  grid-template-columns:  repeat(4, $tile-size);
  grid-template-rows: repeat(4, $tile-size);

  &__tile{
    background-color: $color-primary;
    margin: 0.125rem;
    border-radius: 0.5rem;

    font-size: 2rem;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.controls{
  display: grid;
  grid-template-columns: repeat(3, calc($tile-size - 1rem));
  grid-template-rows: repeat(2, calc($tile-size - 1rem));
  margin: 2rem auto auto auto;
  &__arrow{
    border: none;
    border-radius: 0.25rem;
    margin: 0.125rem;
    font-size: 2rem;
    &-left{
      grid-column: 1;
      grid-row: 2;
    }
    &-up{
      grid-column: 2;
      grid-row: 1;
    }
    &-right{
      grid-column: 3;
      grid-row: 2;
    }
    &-down{
      grid-column: 2;
      grid-row: 2;
    }
    &:after{
      display: inline-block;
      font-family: sans-serif;
      position: relative;
      top: -0.125rem;
      height: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-left:after{
      content: '\2190';
    }
    &-up:after{
      content: '\2191';
    }
    &-right:after{
      content: '\2192';
    }
    &-down:after{
      content: '\2193';
    }
  }

}


@media only screen and (max-width: 1080px){
  .main-container{
    width: 90%;
  }
}

@media only screen and (max-width: 1080px){
  body{
    width: 95%;
  }
  nav h1{
    white-space: normal;
  }
}

@media only screen and (max-width: 720px){
  header{
    height: 5rem;
  }
  nav{
    display: flex;
    justify-content: space-between;
    height: inherit;
    a{
      margin: 0;
      height: inherit;
    }
    ul{
      height: inherit;
      margin: auto;
      width: 85%;
    }
    img{
      margin: 0;
      height: 5rem;
      width: auto;
    }
  }
}

@media only screen and (max-width: 1080px){
  .site-name-long{
    display: none;
  }
  .site-name-middle{
    display: block;
  }
  .site-name-short{
    display: none;
  }
}

@media only screen and (max-width: 512px){
  $tile-size: 4rem;
  .gameboard{
    grid-template-columns: repeat(4, $tile-size);
    grid-template-rows: repeat(4, $tile-size);
  }
  .controls{
    grid-template-columns: repeat(3, calc($tile-size - 0.5rem));
    grid-template-rows: repeat(2, calc($tile-size - 0.5rem));
    &__arrow{
      font-size: 1.5rem;
    }
  }
  .site-name-long{
    display: none;
  }
  .site-name-middle{
    display: none;
  }
  .site-name-short{
    display: block;
  }
}