$color-background: #f8f7f3;
$color-primary: #F5E9DA;
$color-secondary: #F5D389;
$color-slider: #efa66f;
$color-red: #ef6449;
$transition-primary: 0.25s ease;
$border-radius-small: 0.3125rem;
$border-radius-regular: 0.625rem;
$border-size-regular: 0.125rem;
$arrow-size: 2rem;
$color-black: #000;
$color-white: #fff;
$color-active: #a6c6ef;
$color-active-inv: #89b3ea;
$settings-basis: 49%;
$task_min-width: 12.5rem;
$task_scale: 1;
$tile-size: 6rem;

body{
  background-color: $color-background;
  min-height: 100svh;
  width: 95%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  button, input{
    font-family:"Montserrat", sans-serif;
  }
  display: flex;
	flex-direction: column;
  justify-content: space-between;
}

button, input[type='radio'], input[type='submit']{
  cursor: pointer;
  background-color: $color-secondary;
  border-radius: $border-radius-small;
  border: none;
  transition: all $transition-primary;
  &:hover{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
    filter: brightness(85%);
  }
  &:active, &:focus{
    box-shadow: none;
    filter: brightness(100%);
  }
  &.disabled{
    background-color: $color-slider;
    box-shadow: none;
    filter: grayscale(75%) brightness(100%);
  }
}

.disabled{
    background-color: $color-primary;
    cursor: not-allowed;
}

.undo-btn{
  img{
    width: 2rem !important;
  }
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 85%;
  margin: 1.5rem auto; 
}

.settings{
  button{
    margin: 0 1rem;
    padding: 0.25rem;
    width: 3.5rem;
    height: 3.5rem;
    img{
      width: 3rem;
    }
  }
}

.close-btn{
  background-color: $color-red;
  position: absolute;
  display: inline-block;
  z-index: 99999;
  padding: 0.5rem;
  right: 0.5rem;
  top: 0.5rem;
  &::before{
    content: "\274C";
    display: flex;
    align-items: center;
    filter: brightness(0) invert(0);
  }
}

header{
  width: 100%;
  background-color: $color-primary;
  border: 0.0625rem solid $color-primary;
  border-radius: $border-radius-regular;
  margin: 0 auto;
}

.task-window{
  flex-basis: 66%;
}
.add-task-window{
  flex-basis: 33%;
  display: flex;
  justify-content: center;
  max-height: 15rem;
}

li[draggable='true']{
  cursor: grab;
}

nav{
  padding: 0 20px;
  ul{
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  li:nth-last-child(1){
    margin-left: auto;
  }
  a{
    transition: all $transition-primary;
    position: relative;
    text-decoration: none;
    color: $color-black;
    height: 8rem;
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  a.disabled {
    pointer-events: none;
    cursor: default;
  }
  a:hover{
    transform: scale(1.025);	
  }
  img{
    height: 8rem;
    margin-right: 1rem;
  }
  h1 {
    white-space: pre;
  }
}

.site-name-long{
  display: block;
}
.site-name-middle{
  display: none;
}
.site-name-short{
  display: none;
}

html{
  scrollbar-gutter: stable;
}

.stop-scrolling{
	overflow: hidden;
  height: 100%;
}

footer{
  width: 100%;
	background-color: $color-primary;
  border: 0.0625rem solid $color-primary;
  border-radius: $border-radius-regular;
  padding: 1rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
  margin: auto auto 0 auto;
}

.scores{
  font-weight: 500;
  display: flex;
  margin: 2rem auto 0 auto;
  max-width: 25rem;
  justify-content: space-evenly;
  &__value{
    
    
  }
  &__wrapper{
    display: flex;
    background-color: #F5D389;
    border-radius: $border-radius-small;
    margin: 0 1rem;
    padding: 0.5rem;
    min-width: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


.gameboard{
  background-color: $color-background;
  margin: 0.5rem 0 1rem 0;
  padding: 0.125rem;
  border-radius: 0.5rem;
  font-weight: 500;
  display: grid;
  grid-template-columns:  repeat(4, $tile-size);
  grid-template-rows: repeat(4, $tile-size);

  &__tile{
    background-color: $color-primary;
    border-radius: 0.5rem;
    
    font-size: 2rem;
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &-wrapper{
      margin: 0.125rem;
      border-radius: 0.5rem;
      font-size: 2rem;
      background-color: $color-primary;
    }
  }
  .active-tile{
    z-index: 20;
    position: relative;
  }
  .active-tile-combined{
    z-index: 40;
    position: relative;
  }
}

.speed-control{
  padding: 2.5rem;
  border-radius: $border-radius-regular;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  label{
    font-weight: 500;
    background-color: $color-secondary;
    padding: 0.5rem;
    border-radius: $border-radius-small;
    margin: 0.5rem 0;
  }
  div{
    display: flex;
    flex-direction: column;
  }
  input{
    width: 15rem;
    margin: 0;
    margin-bottom: 0.125rem;
    accent-color: $color-slider;
  }
}

datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 15rem;
}

.speed-control-btn{
  span{
    background-color: $color-secondary;
    border-radius: $border-radius-small;
    padding: 0.25rem;
    font-weight: 500;
    position: relative;
    right: 1%;
  }
}

option {
  padding: 0;
}

.controls{
  display: none;
  grid-template-columns: repeat(3, calc($tile-size - 1rem));
  grid-template-rows: repeat(2, calc($tile-size - 1rem));
  margin: 0 auto;
  &__arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0.25rem;
    margin: 0.125rem;
    font-size: 2rem;
    &-left{
      grid-column: 1;
      grid-row: 2;
    }
    &-up{
      grid-column: 2;
      grid-row: 1;
    }
    &-right{
      grid-column: 3;
      grid-row: 2;
    }
    &-down{
      grid-column: 2;
      grid-row: 2;
    }
    &:after{
      display: inline-block;
      font-family: sans-serif;
      position: relative;
      height: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img{
      height: 1.5rem;
    }
  }
}

.popup{
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(210, 211, 251, 0.2);
  display: flex;
  justify-content: center;
  cursor: default;
  section{
    background-color: $color-primary;
    position: absolute;
    top: 25%;
  }
}

.victory-submit{
  display: flex;
  align-items: center;
  height: 2rem;
  input, button{
    margin: 0 1rem;
  }
}

a.disabled {
    pointer-events: none;
}

.victory-screen{
  padding: 1rem 5rem;
  max-width: 25rem;
  min-height: 15rem;
  text-align: center;
  border-radius: $border-radius-regular;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  h2, h3{
    margin: 0.125rem;
  }
  p{
    margin: 0.5rem 0;
  }
  input{
    max-width: 10rem;
  }
  button{
    padding: 0.5rem;
    margin: 1rem 0 0 0;
    &[type='submit']{
      margin: 0;
    }
  }
  img{
    margin: 0.5rem;
  }
}

.leaderboard{
  padding: 2.5rem;
  border-radius: $border-radius-regular;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2{
    text-align: center;
    margin: 1rem 0 0 0;
    padding: 1rem;
    border-radius: $border-radius-small;
    background-color: $color-secondary;
  }
  ol{
    text-decoration: none;
    padding: 0;
  }
}

.settings{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nuke{
  font-weight: 500;
  margin: 1rem 0 0 0;
  padding: 0.25rem;
  background-color: $color-slider;
}

@media only screen and (max-width: 1080px){
  .main-container{
    width: 90%;
  }
}

@media only screen and (max-width: 1080px){
  body{
    width: 95%;
  }
  nav h1{
    white-space: normal;
  }
}

@media only screen and (max-width: 720px){
  header{
    padding: 0.5rem 0;
  }
  nav{
    display: flex;
    justify-content: space-between;
    height: inherit;
    a{
      margin: 0;
      height: inherit;
    }
    ul{
      height: inherit;
      margin: auto;
      width: 85%;
    }
    img{
      margin: 0;
      height: 5rem;
      width: auto;
    }
  }
}

@media only screen and (max-width: 1080px){
  .site-name-long{
    display: none;
  }
  .site-name-middle{
    display: block;
  }
  .site-name-short{
    display: none;
  }
}

@media only screen and (max-width: 720px){
  .controls{
    display: grid;
  }
}

@media only screen and (max-width: 512px){
  header{
    max-height: 4rem;
    a, img{
      max-height: 4rem;
    }
  }
  .settings{
    button{
      margin: 0 0.5rem;
    }
  }
  .speed-control{
    padding: 1.5rem 0.5rem;
  }
  $tile-size: 4.5rem;
  .gameboard{
    grid-template-columns: repeat(4, $tile-size);
    grid-template-rows: repeat(4, $tile-size);
  }
  .controls{
    display: grid;
    grid-template-columns: repeat(3, calc($tile-size - 0.5rem));
    grid-template-rows: repeat(2, calc($tile-size - 0.5rem));
    &__arrow{
      font-size: 2rem;
    }
  }
  .speed-control{
    width: 90%;
  }
  .leaderboard{
    width: 90%;
    padding: 0.5rem;
  }
  .site-name-long{
    display: none;
  }
  .site-name-middle{
    display: none;
  }
  .site-name-short{
    display: block;
  }
}