$color-background: #93a1b6;
$color-primary: #c8dff5;
$color-secondary: #a6c6ef;
$color-dark: #454f80;
$color-slider: #efa66f;
$color-red: #ef6449;
$transition-primary: 0.25s ease;
$border-radius-small: 0.3125rem;
$border-radius-regular: 0.625rem;
$border-size-regular: 0.125rem;
$arrow-size: 2rem;
$color-black: #000;
$color-white: #fff;
$color-active: #a6c6ef;
$color-active-inv: #89b3ea;
$settings-basis: 49%;
$task_min-width: 12.5rem;
$task_scale: 1;
$tile-size: 6rem;

body{
  background-color: $color-background;
  min-height: 100svh;
  width: 95%;
  margin: 0 auto;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  button, input{
    font-family:"Montserrat", sans-serif;
  }
  display: flex;
	flex-direction: column;
  justify-content: space-between;
}

button, input[type='radio'], input[type='submit']{
  cursor: pointer;
  background-color: $color-secondary;
  border-radius: $border-radius-small;
  border: none;
  transition: all $transition-primary;
  font-weight: 600;
  &:hover{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
    filter: brightness(85%);
  }
  &:active, &:focus{
    box-shadow: none;
    filter: brightness(100%);
  }
  &.disabled{
    background-color: $color-slider;
    box-shadow: none;
    filter: grayscale(75%) brightness(100%);
  }
}

.disabled{
    background-color: $color-primary;
    cursor: not-allowed;
}

.undo-btn{
  img{
    width: 2rem !important;
  }
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 85%;
  margin: 1.5rem auto; 
}

header{
  width: 100%;
  background-color: $color-primary;
  border: 0.0625rem solid $color-primary;
  border-radius: $border-radius-regular;
  margin: 0 auto;
}

nav{
  padding: 0 20px;
  ul{
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  li:nth-last-child(1){
    margin-left: auto;
  }
  a{
    transition: all $transition-primary;
    position: relative;
    text-decoration: none;
    color: $color-black;
    height: 8rem;
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  a.disabled {
    pointer-events: none;
    cursor: default;
  }
  a:hover{
    transform: scale(1.025);	
  }
  img{
    height: 8rem;
    margin-right: 1rem;
  }
  h1 {
    white-space: pre;
  }
}

.site-name-long{
  display: block;
}
.site-name-middle{
  display: none;
}
.site-name-short{
  display: none;
}

html{
  scrollbar-gutter: stable;
}

.stop-scrolling{
	overflow: hidden;
  height: 100%;
}

.hidden{
  display: none !important; 
}

footer{
  width: 100%;
	background-color: $color-primary;
  border: 0.0625rem solid $color-primary;
  border-radius: $border-radius-regular;
  padding: 1rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
  margin: auto auto 0 auto;
}

.popup{
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(210, 211, 251, 0.2);
  display: flex;
  justify-content: center;
  cursor: default;
  section{
    background-color: $color-primary;
    position: absolute;
    top: 25%;
  }
}

a.disabled {
    pointer-events: none;
}
#refresh-btn{
  padding: 0.5rem;
  width: 10rem;
}
.current-location{
  display: flex;
  flex-direction: column;
  flex-basis: 55%;
  align-items: flex-start;
}

.locations{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 55%;
  width: 100%;
}
.current-weather{
  background-color: $color-primary;
  border-radius: $border-radius-regular;
  padding: 1rem;
  img{
    filter: brightness(0);
    margin-right: 1rem;
  }
}
.location-data{
  margin: 0 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  ul{
    background-color: $color-primary;
    border-radius: $border-radius-regular;
    padding: 1rem;
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
  }
  li{
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &-entry{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 5rem;
    margin: 0;
    img{
      filter: brightness(0);
      max-width: 4rem;
    }
  }
  &-entries{
    display: flex;
  }
  &-byday{
    //background-color: $color-dark;
    border-radius: $border-radius-small;
    .day-header{
      background-color: $color-primary;
      border-radius: $border-radius-small;
      padding: 0.5rem;
    }
  }
  &__info{
    background-color: $color-primary;
    border-radius: $border-radius-regular;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    width: 15rem;
    justify-content: space-between;
    h3{
      margin-left: 1rem;
    }
    button{
      width: 2rem;
      height: 2rem;
      margin: 0 1rem;
      &::before{
        content: "\274C";
        display: flex;
        align-items: center;
        justify-content: center;
        filter: brightness(0) invert(0);
      }
    }
  }
  .value{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 5rem;
    min-height: 2rem;
    width: 100%;
  }
}
h3{
  align-self: flex-start;
}

.current-weather{
  display: flex;
  align-items: center;
  font-size: 2rem;
  align-self: flex-start;
  img{
    max-width: 5rem;
  }
}

.add-location{
  height: 6rem;
}

.corner-popups{
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  span{
    background-color: #ef6449;
    padding: 0.25rem;
    margin: 0 0 0.125rem 0;
    border-radius: $border-radius-small;
    display:inline-block;
  }
}

.choose-place{
  background-color: $color-primary;
  border-radius: $border-radius-small;
  margin-bottom: 0.5rem;
  padding: 0.125rem;
  display: flex;
  align-items: center;
  span{
    width: 10rem;
  }
  button{
    margin: 0 0.5rem;
    padding: 0.25rem;
    width: 3rem;
  }
}

h2{
  border-radius: $border-radius-small;
  background-color: $color-active;
  padding: 0.25rem;
}

@media only screen and (max-width: 1080px){
  .main-container{
    width: 90%;
  }
}

@media only screen and (max-width: 1080px){
  body{
    width: 95%;
  }
  nav h1{
    white-space: normal;
  }
}

@media only screen and (max-width: 720px){
  header{
    padding: 0.5rem 0;
  }
  nav{
    display: flex;
    justify-content: space-between;
    height: inherit;
    a{
      margin: 0;
      height: inherit;
    }
    ul{
      height: inherit;
      margin: auto;
      width: 85%;
    }
    img{
      margin: 0;
      height: 5rem;
      width: auto;
    }
  }
}

@media only screen and (max-width: 1080px){
  .site-name-long{
    display: none;
  }
  .site-name-middle{
    display: block;
  }
  .site-name-short{
    display: none;
  }
}

@media only screen and (max-width: 720px){
}

@media only screen and (max-width: 512px){
  .add-location{
    height: 7rem;
  }
  .choose-place{
    flex-wrap: wrap;
    justify-content: space-between;
    span{
      flex-basis: 100%;
    }
  }
  .location-data{
    &-entry{
      .value{
        min-width: 4rem;
      }
      img{
        max-width: 3rem;
      }
    }
  }
  header{
    max-height: 4rem;
    a, img{
      max-height: 4rem;
    }
  }
  .site-name-long{
    display: none;
  }
  .site-name-middle{
    display: none;
  }
  .site-name-short{
    display: block;
  }
}